<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.projectbackend.mapper.MessageMapper">
    <insert id="addMessage" parameterType="com.example.projectbackend.entity.Message">
        <selectKey keyProperty="id" resultType="java.lang.Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO sys_data.message (sender_id,sender_name,receiver_id, content,create_time) VALUES
        (#{senderId},#{senderName},#{receiverId}, #{content},#{createTime})
    </insert>
</mapper>