<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.projectbackend.mapper.RolesRoutesMapper">
    <insert id="addRoleRoutes">
        insert into sys_data.roles_routes(roleid, routeid,routetype)
        values 
        <foreach collection="routeids" item="routeid" separator=",">
            (#{roleid}, #{routeid},#{routetype})
        </foreach>
    </insert>

    <delete id="deleteRoutesRoles" parameterType="java.util.List">
        DELETE FROM sys_data.roles_routes WHERE routeid IN
        <foreach item="item" collection="menulist" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteRolesRoutes" parameterType="java.util.List">
        DELETE FROM sys_data.roles_routes WHERE roleid IN
        <foreach item="item" collection="roleslist" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="queryRolesRoutes" parameterType="java.util.List" resultType="string">
        select routeid from sys_data.roles_routes where roleid in
        <foreach item="item" collection="roleList" open="(" separator="," close=")">
            #{item}
        </foreach>
        and routetype = #{routetype}
    </select>
</mapper>