.el-drawer__body{
    padding: 0;
}

.drawer_content{
    padding-left: 20px;
    padding-right: 20px;
}

.drawer_footer{
    padding-left: 20px;
    padding-right: 20px;
}

.el-dialog__body {
    height: calc(100% - 40px);
}

.el-tabs, .el-tabs__content, .el-tab-pane {
    height: 100%;
}

.el-card{
    border: none;
}

.el-card__body{
    padding: 10px;
    width: 100%;
    height: 100%;
}