<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springtest.mapper.RolesMapper">
    <select id="rolesquery" parameterType="com.example.springtest.entity.Roles" resultType="com.example.springtest.entity.Roles">
        SELECT * FROM test.roles
        WHERE 1=1
        <if test="name != null and name != ''">
            AND name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="description != null and description != ''">
            AND description LIKE CONCAT('%', #{description}, '%')
        </if>
    </select>

    <delete id="rolesdelete" parameterType="java.util.List">
        DELETE FROM test.roles WHERE id IN
        <foreach item="item" collection="rolelist" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>