<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springtest.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.example.springtest.entity.User">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="password" column="password" />
        <result property="email" column="email" />
        <result property="description" column="description" />
        <result property="status" column="status" />
        <collection property="rolesid" ofType="java.lang.String" select="selectUserRoles" column="id"/>
    </resultMap>

    <select id="selectUserRoles" resultType="java.lang.String">
        SELECT roleid FROM test.user_roles WHERE userid = #{id}
    </select>

    <select id="userquery" parameterType="com.example.springtest.entity.User" resultMap="UserResultMap">
        SELECT u.* FROM test.user u
        LEFT JOIN test.user_roles ur ON u.id = ur.userid
        WHERE 1=1
        <if test="name != null and name != ''">
            AND u.name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="email != null and email != ''">
            AND u.email LIKE CONCAT('%', #{email}, '%')
        </if>
        <if test="description != null and description != ''">
            AND u.description LIKE CONCAT('%', #{description}, '%')
        </if>
        <if test="status != null and status != ''">
            AND u.status = #{status}
        </if>
        <if test="rolesid != null and !rolesid.isEmpty()">
            AND ur.roleid IN
            <foreach item="roleid" collection="rolesid" open="(" separator="," close=")">
                #{roleid}
            </foreach>
        </if>
    </select>

    <delete id="userdelete" parameterType="java.util.List">
        DELETE FROM test.user WHERE id IN
        <foreach item="item" collection="userlist" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>